@import "../vars";

.layout{
  width: 1248px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 1250px) {
    & {
      width: 950px;
    }
  }
}