$color-block-main: #FFFFFF;
$color-block-sec: #f7f7f7;
$color-text-main: #8B8B8B;
$color-text-sec: #FFFFFF;
$color-text-third: #2C2C3C;
$color-scroll-main: #e4dddd;
$color-scroll-sec: #b5acac;

$color-gradient-main: linear-gradient(90deg, rgba(76,142,240,1) 0%, rgba(240,105,178,1) 50%, rgba(188,76,240,1) 100%);
$color-gradient-sec: linear-gradient(90deg, rgba(76,142,240,0.9) 0%, rgba(240,105,178,0.9) 50%, rgba(188,76,240,0.9) 100%);

$border-radius-main: 10px;

$font-size-smaller: 14px;
$font-size-small: 16px;
$font-size-medium: 19px;
$font-size-big: 24px;
$font-size-bigger: 44px;